<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="author" content="作者">
	<title>{{.Title}}</title>
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<meta name="referrer" content="always">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href='https://cdn.wejass.com/css/base.css' integrity='sha512-+w1V/SbHV1OFki7whtBt5StUDqLzDiucL+OCTd51BxB/nMDuGMTmfixc8aPxp4XJgjUIZRs8a/NCLa+GlPTvtA==' rel="stylesheet" crossorigin="anonymous">
	<link href='https://cdn.wejass.com/css/lib/prism.css' integrity='sha512-1ooxbLBdlxBjvBCG4GUDikLCL9mbdAqHImY7AASmMpxl9wFBLsY5U/FIbpuhDTQPYhp92+uJdY0gyOLWwyePyA==' rel="stylesheet" crossorigin="anonymous">
	<script src='https://cdn.wejass.com/js/lib/prism.min.js' integrity='sha512-8oOoGaUqkFmkCYGT2inP9SJc/WkofsS9ob4W4okP/oq74q7xMDJPFXIwdcPmjdYUKoI4vvYkYkgwkB/ssisozg==' crossorigin="anonymous" async></script>
</head>
<body>
	{{template "header" .}}
	<div class="container repository-content">
		<div class="note">
			<div class="note-header">
				<div class="note-title"><h1>{{.Note.Title}}</h1></div>
				<div class="note-actions">
				</div>
				<div class="note-info">
					<span>作者:</span>
					<span>时间:{{.Note.EditTime}}</span>
				</div>
			</div>
			<div id="editor" class="note-content note-format-{{.Note.Format}}">
				{{.Note.ToHTML}}
			</div>
		</div>
	</div>
	{{template "footer"}}
	{{if eq .Note.Format "md"}}
	<script src='https://cdn.wejass.com/js/lib/marked.min.js' integrity='sha512-Mlgvu2w2T8udq++7h9AzKzAD9i8MAfSLi4aPOsHU5fCBUrO4Dt2Fxf43G82CUEzHaz031dDmnsOmBRLMf4S7jA==' crossorigin="anonymous"></script>
	<script>
		document.getElementById('editor').innerHTML = marked(document.getElementById('editor').innerHTML);
	</script>
	{{end}}
	{{if ge .Level 30}}
	<script type="text/javascript">
		"use strict";
		//{{if ge .Level 30}} ondblclick="edit()"{{end}}
		loadScript = function(fileName, callback, into) {
        
	        into          = into     || "head";
	        callback      = callback || function() {};
	        
	        var script    = null; 
	        script        = document.createElement("script");
	        script.id     = fileName.replace(/[\./]+/g, "-");
	        script.type   = "text/javascript";        
	        script.src    = fileName + ".js";
	        
	        if (editormd.isIE8) 
	        {            
	            script.onreadystatechange = function() {
	                if(script.readyState) 
	                {
	                    if (script.readyState === "loaded" || script.readyState === "complete") 
	                    {
	                        script.onreadystatechange = null; 
	                        editormd.loadFiles.js.push(fileName);
	                        callback();
	                    }
	                } 
	            };
	        }
	        else
	        {
	            script.onload = function() {
	                editormd.loadFiles.js.push(fileName);
	                callback();
	            };
	        }

	        if (into === "head") {
	            document.getElementsByTagName("head")[0].appendChild(script);
	        } else {
	            document.body.appendChild(script);
	        }
	    };

		var editor;
		function edit() {
			loadScript("/js/note/editor.js",function(){
				//<script src="/js/editor.js"><//script>
				editor = new window.Editor('#editor')
				editor.customConfig.uploadImgShowBase64 = true
				editor.create()
			})
		}

		function commit(){
			fetch({{.Uri}},{ method: 'PUT',credentials: 'include', body: editor.txt.html()}).then(function(response) {
				if (!response.ok) throw new Error(response.statusText)
				return response.json()
			}).then(function(data){
				console.log(data)
			}).catch(function(err) {
				console.log(err)
			})
		}
	</script>
	{{end}}
</body>
</html>
