
/*public style*/
*{padding: 0;margin: 0;}
*, ::after, ::before {box-sizing: border-box;}
body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	font-size: 0.875em;	line-height: 1.5;color: #24292e;	background-color: #fff;	box-sizing: border-box;}

/*header*/
header {
	position:fixed;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between ;
	align-items: center;
	width: 100%;
	color: rgba(255,255,255,0.75);
	background-color: #24292e;
	z-index: 1;
}

header > div {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/*header-nav style*/
header .header-nav li {
	float:left;
	list-style:none; 
	display: block;
	height: 48px;
	padding: 8px 10px;
	line-height: 32px;
	border-bottom: 4px solid transparent;
	box-sizing: border-box;
	color: #ccc;
	font-size: 12px;
	letter-spacing: .05em;
	white-space: nowrap;
}
header .header-nav li:not(#search):hover {background-color: #020202}
header .header-nav li > a {color: #ccc;}



/*header-user*/
header .header-user .avatar {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	display: inline-block;
	line-height: 1;
}

/*show user-nav*/
header .header-user:hover .user-nav{
	display: flex;
	flex-direction: column
}
header .user-nav {
	display: none;
	position: absolute;
	right: 0;
	text-align: left;
	background-color: #fff;
	z-index: 7500;
	float: left;
	border: 1px solid #e6e6e6;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.user-nav > li {
	display: flex;
	color: #DB6356;
	text-decoration: underline;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-basis: 100%;
}

.user-nav .divider{
	height: 1px;
	margin: 6px 0; 
	overflow: hidden;
	background-color: #e6e6e6;
}

/* footer */
footer {
	width: auto;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	display: block;
	border-width: 1px 0 0 0;
	border-color: #d1d5da !important;  
	border-style: solid;
}

footer .footer-link {
	justify-content: center;
}

footer li {
	float: left;
	list-style: none;
	display: inline-block;
	margin: 0px 5px 0px 5px;
}



#container {margin-right: auto;margin-left: auto;box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);padding: 30px;padding-top: 60px;word-wrap: break-word;background-color: #fff;border: 1px solid #ddd;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;flex-wrap: wrap;align-content: space-between;}
.box {display: -webkit-flex;display: flex;width: 100%;}
.row,.column{flex-basis: 100%;display: flex;justify-content: flex-start;}

.btn{border: 1px solid #ccc;padding: .375rem .75rem;border-radius: .25rem;}

fieldset {
    border: 0
}




.inline {
	border-width: 0 0 1px 0;
	border-color: #d1d5da !important;  
	border-style: solid;
}

.top-area{
	flex-direction: row;
}

.top-area a{
	padding:  1.20em;
	display:inline-block;
	text-decoration: none;
}





.nav-links{
}
.nav-links li{
	float:left;
	list-style: none;
}
.nav-links li.active,.nav-links a:hover,.top-area {
	border-width: 0 0 1px 0;
	border-color: #d1d5da !important;  
	border-style: solid;
}

.nav-controls {
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
}


.js-projects-list-holder{
	border-width: 1px 0 0 0;
	border-color: #d1d5da !important;  
	border-style: solid;
}
.projects-list{
}
.projects-list li{
	height: 4em;
	line-height: 4em;
	list-style: none;
	flex-direction: column;
	border-width: 0 0 1px 0;
	border-color: #d1d5da !important;  
	border-style: solid;
}

#message {
	position: absolute;
	margin: 30px;
	right: 0px;
	min-width:200px;
	max-width:300px;
	height: auto;
	z-index: 99;
}
#message div {
	margin: 5px;
	min-height: 30px;
	align-items:center;
	border-radius: 6px;

}
#message span {
	margin: 10px;
	display: inline-block;
	text-align: left
	font-size: 20px;
}
#message .succes {background-color: #090;}
#message .fatal {background-color: #b00;}
#message .warring {background-color: #bb0;}

#side-tool {
	position: fixed;
	width: 40px;
	right: 60px;
    bottom: 60px;
}

