.time {
	color: #969696;
}

#container{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	background-color: #f4f4f5;
}

#note-container {
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 960px;
}
#note-container > div {
	padding: 10px;
	background-color: #fff;
}
#note-index {
	padding: 5px
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}
#note-index > ul >li{
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	list-style: none;
}
.note-comment > div {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}



.note-nav {
	width: 20%;
	display: flex;
	flex-direction: column;
}
.note-nav .title {
	height: 40px;
	width: 100%;
	position: relative;
	color: #303030;
	padding: 7.5px 10px 7.5px 18px;
	cursor: pointer;
	transition: 0.3s;
}
.note-nav .title:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 2px;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #3371e3;
	transform: rotate(0deg);
	transition: 0.3s;
}
.note-nav .on .title:before {
	transform: rotate(90deg);
}

/*	note style	*/

.note-info li {
	float:left;
	list-style:none; 
}
.note-info .val {
	margin-right: 10px;
}

#note-edit {
	width: 100%;
}

#note-edit-header span {
	display: inline-block;
		font-weight: 400;
	width: 17%;
	padding-top: 7px;
}
#note-edit-header input {
	display: inline-block;
	width: 80%;
	height: 34px;
	padding: 6px 16px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2e2e2e;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
}
#note-edit-commit button {

}
/*.note-edit-content {
	width: 100%;
}
.note-edit-content > textarea {box-sizing:border-box;height:100%;margin:0;padding:10px;width:100%;}

#editor, #editor-rich, #editor-md, #editor-md textarea {
	width: 100%;
	height: 400px;
}*/